<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.meta.description is defined %}
    <meta name="description" content="{{page.meta.description}}" />
    {%endif %}
    {% if page.meta.keywords is defined %}
    <meta name="keywords" content="{{page.meta.keywords}}" />
    {%endif %}
    <title>Venue Creation {% if page.title is defined %} - {{page.title|lower}} {% endif %}</title>
    <link rel="stylesheet" href="/foundation/bower_components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="/foundation/bower_components/foundation/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/foundation/bower_components/jquery/dist/jquery.min.js"></script>    
    <script src="/foundation/bower_components/foundation/js/foundation.js"></script>
    <script src="/foundation/bower_components/foundation/js/foundation/foundation.topbar.js"></script>

    <script src="foundation/bower_components/modernizr/modernizr.js"></script>
    {% for js in page.js_files%}
    <script src="/js/{{js}}"></script>
    {%endfor%}

    <script src="/foundation/js/app.js"></script>
</head>
<body>

<div class="row">
    <div class="large-12 columns">

        <img src="/images/logo.png" style="display: block;width:542px;margin:auto;"/>

    </div>
</div>
<div class="row" style="padding-bottom:20px;">
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation"> 
            <ul class="title-area"> 
                <li class="name"><h1><a href="#"></a></h1> </li>
                <li class="toggle-topbar menu-icon">
                    <a href="#"><span>Menu</span></a>
                </li> 
            </ul> 
            <section class="top-bar-section"> 
                <ul class="left"> 
                    <li {% if page.name == "home" %} class="active" {% endif %}><a href="/">Home</a></li>
                    <li {% if page.name=="pole_and_drape" %} class="active" {% endif %}><a href="/pole-and-drape">Pole and Drape</a></li>
                    <li {% if page.name=="about_us" %} class="active" {% endif %}><a href="/about-us">About Us</a></li>
                    <li {% if page.name=="accessories" %} class="active" {% endif %}><a href="/accessories">Accessories</a></li>
                    <li {% if page.name=="contact_us" %} class="active" {% endif %}><a href="/contact-us">Contact Us</a></li>
                </ul> 
           </section> 
        </nav>

    </div>
</div>

<div class="row">

    {%block body%}{%endblock%}

</div>
<div class="row">
    <div class="large-12 columns">
        <p style="text-align:center;font-size:10px;color:#999">&copy; Venue Creation {{ "now"|date("Y") }}</p>
    </div>

</div>
</body>
</html>

