{%extends "default"%}


{%block body%}
     <div class="small-3 columns">
        {%for img in page.image_banner.left%}
            <img src="/images/img_banner/{{img}}" style="display:block;margin:5px 0px 5px auto;border:1px solid #c3c3c3;" />
        {%endfor%}

    </div>

    <div class="small-9 columns" style="line-height:2em;letter-spacing:0.05em;">
        {%block content %}{% endblock%}





    </div>


{%endblock%}
