---
name: about_us
layout: three_column_body
page:
title: About Us
image_banner:
  left:
    - DSCN3871.JPG 
    - pink_swags_cut1.jpg
  right:
    - linings_cut1.jpg
    - marquee_cut1.jpeg
meta:
 description: We can transform your venue into a stylish area with our simple, effective pole and drape system
 keywords: pole and drape venue decoration transform venue
---

<h1>About Us</h1>

<p>When I was planning my own wedding, everything was in place, the cake, the caterers, and the outfits but the thing that was missing was the venue or more to the point the inside of the venue.</p>

<p>We had ideas of what we could do to improve the look, of what was a very basic local village hall but we just could achieve that special look.</p>

<p>Being in the marquee industry for some 15 years we came up with the idea of dressing the walls with linings, however, the powers that be, would not allow us to make any fixings to the walls and ceilings and that’s when the idea of the free standing pole and drape system came to mind and the rest as they say is history.</p>
