---
name: accessories
layout: three_column_body 
title: Accessories
meta:
    description: We can transform your venue into a stylish area with our simple, effective pole and drape system
    keywords: pole and drape venue decoration transform venue
image_banner:
  left:
    - marquee_cut2.jpeg
    - pink_swags_cut1.jpg
  right:
    - linings_cut1.jpg
    - marquee_cut4.jpeg
---

<h1>Accessories</h1>

<p>Our accessories are available to complement our drape system, and to add the finishing touch to your occasion.
We can supply and install into your venue:
</p>

<ul>
    <li>Vibrant and mood lighting</li>
    <li>Up lighters</li>
    <li>Chairs</li>
    <li>Tables</li>
    <li>Dance floors</li>
    <li>Bar</li>
    <li>Chill out areas</li>
    <li>Floor coverings</li>
    <li>Marquees</li>
</ul>
