---
name: contact_us
layout: two_column_body 
page:
title: Contact Us
meta:
 description: We can transform your venue into a stylish area with our simple, effective pole and drape system
 keywords: pole and drape venue decoration transform venue
js_files:
  - jquery.validate.js
  - callback_form.js
image_banner:
  left:
    - 13881370_s.jpg
    - pink_swags_cut1.jpg

---
<div class="row">
    <div class="large-8 columns">
        <div class="row">
            <div class="large-12 columns">
                <h1>Request a Call</h1>
		<div id="message"></div>
            </div>
        </div>
        <div class="large-12 columns">            
		<form id="request-call">
                	<div class="row">
                    		<div class="large-4 columns">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="large-8 columns">
                        <input name="first_name" />
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <label for="last_name">Last Name</label>
                    </div>
                    <div class="large-8 columns">
                        <input name="last_name" />
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <label for="email">Email</label>
                    </div>
                    <div class="large-8 columns">
                        <input name="email" />
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <label for="telephone">Telephone</label>
                    </div>
                    <div class="large-8 columns">
                        <input name="telephone" />
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <label for="comment">Comment</label>
                    </div>
                    <div class="large-8 columns">
                        <textarea name="comment" /></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <input type="submit" id="callback" value="Request Call" />
                    </div>
                </div>
            </div>
	</form>
    </div>           
    <div class="large-4 columns">
            <div class="row">
            <div class="large-12-columns">
                <h1>Email</h1>
                <ul style="list-style-type:none">
                    <li><a href="mailTo:info@venue-creation.co.uk">info@venue-creation.co.uk</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="large-12-columns">
                <h1>Phone</h1>
                <ul style="list-style-type:none">
                    <li> <strong>Enquiries - </strong> 01279 817676</li>
                    <li>Mobile - 07779 462704</li>
                    <li>Mobile - 07540 607315</li>
                </ul>
            </div>
        </div>
      <div class="row">
            <div class="large-12-columns">
                <h1>Postal Address</h1>
                <p style="margin-left:20px;">Venue-Creation<br />
                27 Grove Road<br />
                Ware<br />
                Hertfordshire<br />
                SG12 7HS</p>
            </div>
       </div>
    </div>

