---
name: home
layout: three_column_body
image_banner:
  left:
    - 17439029_s.jpg
    - linings_cut1.jpg
  right:
    - marquee_cut4.jpeg
    - 13881370_s.jpg
meta:
 description: We can transform your venue into a stylish area with our simple, effective pole and drape system
 keywords: pole and drape venue decoration transform venue
---

<p>
    At <strong>Venue Creation</strong> our aim is to transform and enhance your venue into a beautiful stylish area for
    you and your guests to enjoy.
</p>

<p>We can dress your venue with an <a href="/pole-and-drape"> elegant ivory lining</a> and along with
    <a href="/accessories">coloured mood lighting</a>, can tailor to your individual requirements to make
    your event something that you will remember for years to come.
</p>

