---
name: pole_and_drape
layout: three_column_body 
page:
title: Pole And Drape
image_banner:
  left:
    - marquee_cut2.jpeg
    - 17439029_s.jpg
  right:
    - DSCN3871.JPG
    - marquee_cut3.jpeg
meta:
 description: We can transform your venue into a stylish area with our simple, effective pole and drape system
 keywords: pole and drape venue decoration transform venue
---

<h1>Pole And Drape</h1>

<p>Our Pole and Drape system uses a simple but effective solution to cover an unsightly wall at your venue. It uses a free standing pole, on a base plate, which when used in conjunction with other poles and base plates, connects together via an adjustable cross bar from which the lining hangs from and can cover various lengths and heights. It fits flush to the wall and so is safe, discreet and is space saving allowing full use of the area for you to use. Corners, doors and windows are no problems we just turn, go round or over them.</p>

<p>They can also be used in an effective way to divide or make a room smaller, or to create a feature such as a back drop behind the top table where we can add fairy lights or a star cloth behind a DJ or band to hide some of there equipment all of which will create the perfect atmosphere for you and your guests. </p>
